style>
body{
    
    background-image: url(images/her.jpeg);
    background-size: contain;
}
.topic-1{
    text-align: center 
}
.topic-1 p {
    font-weight: bold;
    color:blue;
}
.topic-1h1 ,h2{
    color: black;
    font-size: x-large;
}
input{
    color: blue;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container{
    text-align: center;
}
.topic-2 h1,u{
    text-align: center;
}



